*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "SF Pro Display Semibold";
    src: url('/assets/fonts/SF-Pro-Display-Semibold.otf')
}

@font-face {
    font-family: "SF Pro Display";
    src: url('/assets/fonts/SF-Pro-Display-Regular.otf')
}

@font-face {
    font-family: "SF Pro Display Light";
    src: url('/assets/fonts/SF-Pro-Display-Light.otf')
}

html {
    position: relative;
}

body {
    margin: 0;
    position: relative;
    background-color: black;
    font-family: "SF Pro Display", "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);
}

#folderName {
    font-family: "SF Pro Display Light", "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 2.75em;
    margin: 11.5vh 0 11.5vh 0;
    letter-spacing: 1.5px;
    user-select: none;
}

a {
    text-decoration: none;
    display: flex;
    -webkit-user-drag: none;
    cursor: default;
}

main {
    padding: 39px;
    width: 380px;
    border-radius: 47px;
    background: rgba(33, 36, 38, 0.9);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 24.5px 35px;
    margin: 0 2rem 0 2rem;
} main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
} main div img {
    transition: filter 0.05s linear;
    -webkit-user-drag: none;
    cursor: pointer;
    width: 75px;
} main div p{
    color: white;
    margin-top: 5px;
    letter-spacing: 0.75px;
    text-align: center;
} main div img:active {
    filter: brightness(60%)
}

#inApp {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    width: 100%;
    min-height: 100%;
    z-index: 9999;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

.menu {
    visibility: hidden;
    opacity: 0;
    font-family: "SF Pro Display Semibold", "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

.appStore header {
    background-color: #121212;
    border-bottom: #272727 1px solid;
    padding: 0.8rem 0 1rem 0;
    margin-bottom: 1rem;
} .appStore header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #0888FF;
    margin: 1.5rem 0 1.125rem 1.2rem;
    cursor: pointer;
} .appStore header div:active{
    color: #055090;
} .appStore header div i {
    font-size: 1.55em;
} .appStore header p {
    margin-left: 0.5rem;
    font-size: 1.25em;
    letter-spacing: 0.8px;
    font-family: "SF Pro Display Light", "Helvetica Neue", Helvetica, sans-serif;
} .appStore header h1 {
    letter-spacing: 1.05px;
    font-size: 2.5em;
    padding-left: 2rem;
} .appStore > div {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    justify-content: space-evenly;
}

.app {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
} .app::after{
    content: "";
    background: #272727;
    position: absolute;
    width: calc(100% - 7.275rem);
    left: 7.275rem;
    height: 1px;
    bottom: 0;
} .app > div {
    display: flex;
    flex-direction: row;
} .app img {
    width: 72.5px;
    height: 72.5px;
    margin: 0.7rem 0 0.5rem 0;
    border-radius: 1rem;
} .app > div > div {
    margin-right: 1.05rem;
    display: flex;
    margin-left: 0.75rem;
    flex-direction: column;
    justify-content: center;
} .app > div > div > div {
    display: flex;
    flex-direction: row;
    align-items: center;
} .app .rank {
    min-width: 1ch;
    margin-right: 1.05rem;
    font-size: 1.25em;
} .app .name {
    font-family: "SF Pro Display Light", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.7px;
} .app .descMargin {
    min-width: 1ch;
    margin-right: 1.05rem;
    font-size: 1.25em;
    visibility: hidden;
} .app .desc {
    font-family: "SF Pro Display Light", "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 0.25rem;
    letter-spacing: 0.65px;
    color: #8E8D92;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} .app .appButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1.8rem 0 1.85rem 0;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    background-color: #1C1C1E;
    color: #0888FF;
    width: 5.45rem;
    border-radius: 100rem;
    transition: background-color 0.25s, color 0.25s linear;
    cursor: pointer;
} .app .appButton:active{
    background-color: #111113;
    color: #055090;
}

#o {
    position: absolute;
    display: block;
    height: 144%; /*144*/
    top: 58.55%; /*58.55*/
    left: 15%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

@media screen and (max-width: 900px){
    .appStore > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app {
        width: 92.5%
    }
}

@media screen and (max-width: 480px){
    main {
        padding: 30px;
        width: 300px;
        border-radius: 40px;
        grid-gap: 17px 29px;
    } main div img {
        width: 60px;
    } main div p{
        margin-top: 5px;
        font-size: 0.8em;
        letter-spacing: 0.65px;
    }

    .app {
        width: 87.5%
    }

    #bruh {
        width:60px !important;
        height:80px !important;
    }

    #o {
        position: absolute;
        display: block;
        height: 114%; /*144*/
        top: 52.7%; /*58.55*/
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
    }
}