html {
    position: relative;
}

body{
    margin-bottom: 3em;
}


#main{
    font-size: 30px;
    font-family:'Comfortaa', Helvetica, sans-serif;
    text-decoration: none;
    text-align:center;
    margin-top:20px;
    margin-bottom:0px;
    color: #FF7700;
    transform: rotate(0.5deg);
}

body{
    background-image: linear-gradient(to right, #363d43, #353c42);
}

header{
    background-color: #1f2227;
    padding: 1px;
    margin: -8px;
    text-align:center;
} header ul{
    list-style-type: none;
    display: inline-block;
    padding-right: 2%;
} header li{
    float:left;
} header a{
    font-family:'Comfortaa', Helvetica, sans-serif;
    font-size:20px;
    color: #FF7700;
    padding: 10px;
    transition: background-color .5s;
}

.main{
    color: #ffffff;
} .main h1{
    font-family:'Comfortaa', Helvetica, sans-serif;
    padding-top: 30px;
    padding-left: 30px;
    font-size:35px;
} .main p{
    font-family: BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    width: 75%;
} .main a{
    color: #c0e8ff;
} .main ul{
    font-family: BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left: 50px;
    width: 75%;
} .main h2{
    font-family:'Comfortaa', Helvetica, sans-serif;
    padding-left: 30px;
}

footer ul{
    list-style-type: none;
    display: inline-block;
    padding-right: 2%;
} footer li{
    float:left;
} footer a{
    font-family:'Comfortaa', Helvetica, sans-serif;
    font-size:20px;
    color: #FF7700;
    padding: 10px;
    transition: background-color .5s;
} footer p{
    font-size: 20px;
    font-family:'Comfortaa', Helvetica, sans-serif;
    float: right;
    padding-right: 2%;
} footer {
    background-color: #1f2227;
    bottom: 10;
    left: 0;    
    width: 100%;
    color: #FF7700;
    position:absolute;
}

.projects{
    display: flex;
}

.box{
    border: 3px solid white;
    border-radius: 10px;
    width: 400px;
    margin-left: 30px;
    color: white;
    display: flex;
    align-items: center;
} .box a{
    text-decoration: none;
}

a:hover {
    color: #ffd45d;
}