html {
    position: relative;
}

#main{
    position: absolute;
    font-size: 36px;
    font-family:'Aldrich', Helvetica, sans-serif;
    text-decoration: none; 
    color: #FF7700;
    margin-top: 0.5em;
    top: 0;
}

body{
    background-image: url("https://i.imgur.com/aRouDQL.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header{
    background-color: #1f2227;
    padding: 40px;
    margin: -8px;
} header nav{
    position: absolute;
    right: 0;
    padding-right: 30px;
    margin-top: 0.5em;
    top: 0;
} header nav ul{
    list-style-type: none;
    display: inline-block;
} header nav li{
    float:left;
} header nav a{
    font-family:'Aldrich', Helvetica, sans-serif;
    font-size:24px;
    color: #FF7700;
    text-decoration: none;
    padding: 10px;
    transition: background-color .5s;
}

main{
    color: #ffffff;
    background-color: rgba(31, 34, 39, 0.9);
    border-radius: 15px;
    width: 75%;
    margin: auto;
    text-align: center;
} main h1{
    font-family:'Aldrich', Helvetica, sans-serif;
    padding-top: 30px;
    font-size:35px;
} main p{
    margin: auto;
    font-family: 'Fira Code', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 90%;
} main a{
    color: #a2ddff;
    text-decoration: none;
} main ul{
    font-family: 'Fira Code', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 90%;
    list-style-position: inside;
} main h2{
    font-family:'Aldrich', Helvetica, sans-serif;
} 

footer nav ul{
    font-size:24px;
    list-style-type: none;
    display: inline-block;
    padding-right: 2%;
} footer nav li{
    float:left;
} footer nav a{
    font-family:'Aldrich', Helvetica, sans-serif;
    color: #FF7700;
    text-decoration: none;
    padding: 10px;
    transition: background-color .5s;
} footer nav p{
    font-size:24px;
    font-family:'Aldrich', Helvetica, sans-serif;
    float: right;
    padding-right: 2%;
} footer {
    background-color: #1f2227;
    bottom: 10;
    left: 0;    
    width: 100%;
    color: #FF7700;
    position:absolute;
}

.projects{
    display: flex;
}

.box{
    border: 3px solid white;
    border-radius: 15px;
    height: 125px;
    margin-left: 30px;
    color: white;
    display: flex;
    align-items: center;
} .box a{
    text-decoration: none;
    padding-right: 30px;
}

a:hover {
    text-decoration: underline;
    color: #fd993c;
}

button{
    background-color:rgb(248, 136, 0);
    border: none;
    padding: 20px;
    font-size:20px;
    font-family:'Aldrich', Helvetica, sans-serif;
    margin-bottom: 30px;
} button:hover{
    background-color: #ffaa42;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (max-width: 500px) {
    /*phones*/
    #main{
        position: absolute;
        font-size: 23px;
        font-family:'Aldrich', Helvetica, sans-serif;
        text-decoration: none; 
        color: #FF7700;
        margin-top: 0.5em;
        top: 0;
        margin-bottom: 0;
    }
    header{
        background-color: #1f2227;
        padding: 40px;
        margin: -8px;
    } header nav{
        position: absolute;
        margin-top: 2em;
        top: 0;
        padding-right: 0;
    } header nav ul{
        margin-right: 9vw;
        list-style-type: none;
        display: inline-block;
        padding-left: 0;
    } header nav a{
        text-align: center;
        font-family:'Aldrich', Helvetica, sans-serif;
        font-size:16px;
        color: #FF7700;
        text-decoration: none;
        padding: 5px;
        transition: background-color .5s;
    }
    main{
        color: #ffffff;
        background-color: rgba(31, 34, 39, 0.9);
        border-radius: 15px;
        width: 90%;
        margin: auto;
        text-align: center;
    } main h1{
        font-family:'Aldrich', Helvetica, sans-serif;
        padding-top: 30px;
        font-size:35px;
    } main p{
        margin: auto;
        font-family: 'Fira Code', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        width: 90%;
    } main a{
        color: #a2ddff;
        text-decoration: none;
    } main ul{
        font-family: 'Fira Code', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        padding-left: 50px;
        width: 90%;
    } main h2{
        font-family:'Aldrich', Helvetica, sans-serif;
        padding-left: 30px;
    } 
    footer nav ul{
        font-size:16px;
        list-style-type: none;
        display: inline-block;
        padding-right: 2%;
    } footer nav li{
        float:left;
    } footer nav a{
        font-family:'Aldrich', Helvetica, sans-serif;
        color: #FF7700;
        text-decoration: none;
        padding: 5px;
        transition: background-color .5s;
    } footer nav p{
        font-size:16px;
        font-family:'Aldrich', Helvetica, sans-serif;
        float: right;
        padding-right: 2%;
    } footer {
        background-color: #1f2227;
        bottom: 10;
        left: 0;    
        width: 100%;
        color: #FF7700;
        position:absolute;
    }
}