html {
    position: relative;
}

#main{
    position: absolute;
    font-size: 36px;
    font-family:'Aldrich', Helvetica, sans-serif;
    text-decoration: none; 
    color: #FF7700;
    margin-top: 0.5em;
    top: 0;
    
}

body{
    background-image: url("https://i.imgur.com/gHPqI6Nh.png");
    background-size: cover;
    margin-bottom: 3.75%;
}

header{
    background-color: #1f2227;
    padding: 40px;
    margin: -8px;
} header nav{
    position: absolute;
    right: 0;
    padding-right: 30px;
    margin-top: 0.5em;
    top: 0;
} header nav ul{
    list-style-type: none;
    display: inline-block;
} header nav li{
    float:left;
} header nav a{
    font-family:'Aldrich', Helvetica, sans-serif;
    font-size:24px;
    color: #FF7700;
    text-decoration: none;
    padding: 10px;
    transition: background-color .5s;
}

@media screen and (max-width: 1000px) {
    #main{
        position: absolute;
        font-size: 24px;
        font-family:'Aldrich', Helvetica, sans-serif;
        text-decoration: none; 
        color: #FF7700;
        margin: 0;
        top: 3%;
    }
    nav a{
        font-family:'Aldrich', Helvetica, sans-serif;
        font-size:16px;
        color: #FF7700;
        text-decoration: none;
        padding: 10px;
        transition: background-color .5s;
    }
}

main{
    color: #ffffff;
    margin: 0 10px 5em;
    background-color: rgba(31, 34, 39, 0.9);
    width: 75%
} main h1{
    font-family:'Aldrich', Helvetica, sans-serif;
    padding-top: 30px;
    padding-left: 30px;
    font-size:35px;
} main p{
    font-family: 'Fira Code', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    width: 90%;
} main a{
    color: #a2ddff;
    text-decoration: none;
} main ul{
    font-family: 'Fira Code', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    padding-left: 50px;
    width: 90%;
} main h2{
    font-family:'Aldrich', Helvetica, sans-serif;
    padding-left: 30px;
} 

footer nav ul{
    font-size:24px;
    list-style-type: none;
    display: inline-block;
    padding-right: 2%;
} footer nav li{
    float:left;
} footer nav a{
    font-family:'Aldrich', Helvetica, sans-serif;
    color: #FF7700;
    text-decoration: none;
    padding: 10px;
    transition: background-color .5s;
} footer nav p{
    font-size:24px;
    font-family:'Aldrich', Helvetica, sans-serif;
    float: right;
    padding-right: 2%;
} footer {
    background-color: #1f2227;
    bottom: 10;
    left: 0;    
    width: 100%;
    color: #FF7700;
    position:absolute;
}

.projects{
    display: flex;
}

.box{
    border: 3px solid white;
    border-radius: 10px;
    width: 5    00px;
    margin-left: 30px;
    color: white;
    display: flex;
    align-items: center;
} .box a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #fd993c;
}