@font-face {
  font-family: "SFSB";
  src: url("/assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "SFR";
  src: url("/assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SFL";
  src: url("/assets/fonts/SF-Pro-Display-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
.aboutme {
  overflow: auto;
}
.aboutme > header {
  background-color: #121212;
  border-bottom: #272727 1px solid;
  padding: 0.8rem 0 1rem 0;
  margin-bottom: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aboutme > header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0088ff;
  margin: 1.655rem 0 1.125rem 1rem;
  cursor: pointer;
}
.aboutme > header div:active {
  color: #055090;
}
.aboutme > header div i {
  font-size: 1.55em;
}
.aboutme > header p {
  margin-left: 0.5rem;
  font-size: 1.25em;
  letter-spacing: 0.8px;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme > header h1 {
  letter-spacing: 1.05px;
  font-size: 2.5em;
  padding-left: 3.5rem;
  color: white;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme #apps {
  display: grid;
  grid-template-columns: 44.5% 44.5%;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.aboutme .app {
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.aboutme .app::after {
  content: "";
  background: #272727;
  position: absolute;
  width: calc(100% - 7.275rem);
  left: 7.275rem;
  height: 1px;
  bottom: 0;
}
.aboutme .app:nth-child(5)::after, .aboutme .app:nth-child(10)::after {
  height: 0;
}
.aboutme .app > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.aboutme .app img {
  width: 70px;
  height: 70px;
  margin: 0.7rem 0 0.5rem 0;
  border-radius: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.aboutme .app > div > div {
  margin-right: 1.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutme .app > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutme .app .rank {
  min-width: auto;
  margin-right: 1.05rem;
  font-size: 1.25em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme .app .name {
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.7px;
  color: white;
}
.aboutme .app .descMargin {
  min-width: auto;
  margin-right: 1.05rem;
  font-size: 1.25em;
  visibility: hidden;
}
.aboutme .app .desc {
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 0.25rem;
  letter-spacing: 0.65px;
  color: #8E8D92;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aboutme .app .appStore-viewButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 1.8rem 0 1.85rem 0;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #1C1C1E;
  color: #0088ff;
  width: 5.45rem;
  border-radius: 100rem;
  -webkit-transition: background-color 0.25s, color 0.25s linear;
  transition: background-color 0.25s, color 0.25s linear;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme .app .appStore-viewButton:active {
  background-color: #111113;
  color: #055090;
}
.aboutme .appView .backButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0088ff;
  margin: 2.5rem 0 1rem 1rem;
  cursor: pointer;
}
.aboutme .appView .backButton i {
  font-size: 1.55em;
}
.aboutme .appView .backButton p {
  margin-left: 0.5rem;
  font-size: 1.25em;
  letter-spacing: 0.8px;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme .appView .backButton:active {
  color: #055090;
}
.aboutme .appView header {
  margin: 0 3.5rem 2.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
.aboutme .appView header img {
  width: 150px;
  height: 150px;
  border-radius: 2rem;
}
.aboutme .appView header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}
.aboutme .appView header > div h1 {
  font-size: 1.76em;
  letter-spacing: 1px;
  margin-top: 0.325rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme .appView header > div h2 {
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  margin-bottom: 2.9rem;
  color: #8E8D92;
}
.aboutme .appView header > div .appStore-openButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #0088ff;
  width: 5.3rem;
  height: 2.1rem;
  font-size: 1.2em;
  border-radius: 100rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.25s, color 0.25s linear;
  transition: background-color 0.25s, color 0.25s linear;
  color: white;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.aboutme .appView header > div .appStore-openButton:active {
  background-color: #111113;
  color: #055090;
}
.aboutme .appView header > div .appStore-openButton.disabled {
  opacity: 0.5;
  pointer-events: none;
  background-color: gray;
}
.aboutme .appView header::after {
  content: "";
  background: #272727;
  position: absolute;
  width: 100%;
  height: 0.6px;
  bottom: -2.5rem;
}
.aboutme .appView .appStore-appView-about {
  padding-top: 1.35rem;
  position: relative;
}
.aboutme .appView .appStore-appView-about p {
  margin: 0 3.5rem 0 3.5rem;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.95px;
  line-height: 20.9px;
  position: relative;
  font-size: 1.05em;
  color: white;
}
.aboutme .appView .appStore-appView-about::after {
  content: "";
  background: #272727;
  position: absolute;
  width: calc(100% - 7rem);
  left: 3.5rem;
  height: 0.6px;
  bottom: -1.35rem;
}
.aboutme .appView .appStore-appView-about p a {
  display: inline;
  color: #0088ff;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .aboutme #apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutme .app {
    width: 92.5%;
  }
  .aboutme .app:nth-child(5)::after {
    height: 1px;
  }
}
@media screen and (max-width: 480px) {
  .aboutme .appView header {
    margin: 0 1.75rem 1.75rem 1.75rem;
  }
  .aboutme .appView header > div {
    margin-left: 1rem;
  }
  .aboutme .appView header > div h1 {
    font-size: 1.5em;
  }
  .aboutme .appView header > div h2 {
    font-size: 1em;
    margin-bottom: 2em;
  }
  .aboutme .appView .appStore-appView-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 1.75rem 0 1.75rem;
  }
  .aboutme .appView .appStore-appView-about p {
    margin: 0.5rem 0 0 0;
  }
  .aboutme .appView .appStore-appView-about::after {
    left: 0;
    width: 100%;
    bottom: -1rem;
  }
  .aboutme > header {
    padding: 0.8rem 0 1rem 0;
  }
  .aboutme > header h1 {
    letter-spacing: 1.05px;
    font-size: 2em;
    padding-left: 1.25rem;
    color: white;
    font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .aboutme .menu {
    overflow: scroll !important;
  }
  .aboutme #apps {
    margin-bottom: 1rem;
  }
  .aboutme .app {
    width: 90%;
    height: 5.1rem;
  }
  .aboutme .app img {
    width: 60px;
    height: 60px;
    margin: 1rem 0 0.5rem 0;
  }
  .aboutme .app .name {
    font-size: 1.1em;
  }
  .aboutme .app .desc {
    font-size: 0.85em;
  }
  .aboutme .app .appStore-viewButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 1.8rem 0 1.85rem 0;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #1C1C1E;
    color: #0088ff;
    width: 4.6rem;
    height: 2rem;
  }
}/*# sourceMappingURL=aboutme.css.map */