/* #region San Francisco Fonts */

@font-face {
    font-family: "SFSB";
    src: url('/assets/fonts/SF-Pro-Display-Semibold.woff2') format('woff2');
}

@font-face {
    font-family: "SFR";
    src: url('/assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "SFL";
    src: url('/assets/fonts/SF-Pro-Display-Light.woff2') format('woff2');
}

/* #endregion */

/* #region Init */

:root {
    --appleBlue: #0088ff;
}

*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
}

body {
    margin: 0;
    position: relative;
    background-color: black;
    font-family: "SFR", "Helvetica Neue", Helvetica, sans-serif;

    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion */

#bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);
}

#folderName {
    font-family: "SFL", sans-serif;
    color: white;
    font-size: 2.75em;
    margin: 11.5vh 0 11.5vh 0;
    letter-spacing: 1.5px;
    user-select: none;
}

a {
    text-decoration: none;
    display: flex;
    -webkit-user-drag: none;
    cursor: default;
}

img {
    -webkit-user-drag: none;
}

body > main {
    padding: 39px;
    width: 380px;
    border-radius: 47px;
    background: rgba(33, 36, 38, 0.9);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 24.5px 35px;
    margin: 0 2rem 0 2rem;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;

        p {
            color: white;
            margin-top: 5px;
            letter-spacing: 0.75px;
            text-align: center;
        }

        img {
            transition: filter 0.05s linear;
            -webkit-user-drag: none;
            cursor: pointer;
            width: 75px;

            &:active {
                filter: brightness(60%)
            }
        }
    }
}

/* #region Parent App Divs */

#inApp {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    width: 100%;
    min-height: 100%;
    z-index: 9998;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

.menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    font-family: "SFSB", "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 9998;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

.appView {
    position: absolute;
    z-index: 9999;
}

.contacts {
    display: flex;
    flex-direction: row;

    #contactCard {
        background-image: linear-gradient(to bottom, #101316, #0D1014);
        height: 100%;
        width: 53.4rem;
        display: flex;
        flex-direction: column;
        user-select: none;
        justify-content: center;

        h1 {
            font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
            font-size: 3.25em;
            margin-top: 0.1rem;
            letter-spacing: 2.4px;
        }

        i {
            position: absolute;
            display: flex;
            background-color: #34383B;
            border-radius: 100rem;
            width: 2.75rem;
            height: 2.75rem;
            align-items: center;
            justify-content: center;
            font-size: 1.5em;
            margin: 2rem 0 0 1.1rem;
            cursor: pointer;
            top: 0;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 362px;
            border-radius: 100rem;
        }

        p {
            margin-top: 2.225rem;
            font-size: 1.1em;
            letter-spacing: 1.25px;
        }
    }

    #contactInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.5rem;
        overflow: auto;
    }

    .infoBox {
        font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1C1C1E;
        width: 97.5%;
        height: 5.45rem;
        border-radius: 0.65rem;
        padding-left: 1.425rem;
        margin-bottom: 1.5rem;
        cursor: pointer;

        h2 {
            font-size: 1.25em;
            letter-spacing: 1px;
            color: white;
            user-select: none;
        }

        p {
            font-size: 1.5em;
            color: var(--appleBlue);
            margin-top: 0.35rem;
            letter-spacing: 0.45px;
        }

        &:active {
            background-color: #3A3A3C;
        }
    }

    #infoCluster {
        width: 97.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0.65rem;
        overflow: hidden;
        margin-bottom: 1.5rem;

        .infoBox {
            margin-bottom: 0;
            width: 100%;
            border-radius: 0;
            position: relative;

            &:after {
                content: "";
                background: #3A3A3A;
                position: absolute;
                width: calc(100% - 1.425rem);
                left: 1.425rem;
                height: 1px;
                bottom: 0;
            }

            &:last-child::after {
                height: 0;
            }
            
        }
    }
    
}

/* #region Music */

/* #endregion */
/* #region Mobile Optimization */

@media screen and (max-width: 900px) { /* Tablets */
    
    .contacts {
        flex-direction: column;
        height: 100%;
    }

    .contacts #contactCard {
        width: 100%;
        min-height: 27.5rem;
        overflow: visible;
    }

    .contacts #contactCard i {
        width: 2rem;
        height: 2rem;
        font-size: 1.1em;
        margin: 2rem 0 0 0.8rem;
    }

    .contacts #contactCard img {
        width: 265px;
    }

    .contacts #contactCard p {
        margin-top: 1.6rem;
        font-size: 0.8em;
        letter-spacing: 0.9px;
    }

    .contacts #contactCard h1 {
        font-size: 2.35em;
        letter-spacing: 1.85px;
    }

    .contacts #contactInfo {
        overflow: visible;
    }

    .contacts .infoBox {
        width: 96%;
        height: 4rem;
        border-radius: 0.5rem;
        padding-left: 1.05rem;
        margin-bottom: 1rem;
    }

    .contacts .infoBox h2 {
        font-size: 0.9em;
        letter-spacing: 0.8px;
        color: white;
    }

    .contacts .infoBox p {
        font-size: 1em;
        color: var(--appleBlue);
        margin-top: 0.35rem;
        letter-spacing: 1.05px;
    }

    .contacts #infoCluster {
        width: 96%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }

    .contacts #infoCluster .infoBox::after {
        content: "";
        background: #3A3A3A;
        position: absolute;
        width: calc(100% - 1.05rem);
        left: 1.05rem;
        height: 1px;
        bottom: 0;
    }
}

@media screen and (max-width: 480px) { /* Phones */

    body > main {
        padding: 30px;
        width: 300px;
        border-radius: 40px;
        grid-gap: 17px 29px;

        div img {
            width: 60px;
        }

        div p {
            margin-top: 5px;
            font-size: 0.8em;
            letter-spacing: 0.65px;
        }
    }

    .app {
        width: 87.5%
    }

    #bruh {
        width: 60px !important;
        height: 80px !important;
    }
}

/* #endregion */