@font-face {
  font-family: "SFSB";
  src: url("/assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "SFR";
  src: url("/assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SFL";
  src: url("/assets/fonts/SF-Pro-Display-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
.music {
  overflow: auto;
}
.music img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.music header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.music header .music-backButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FA2D48;
  margin: 2.25rem 0 1rem 1.9rem;
  cursor: pointer;
}
.music header .music-backButton i {
  font-size: 1.55em;
}
.music header .music-backButton:active {
  color: #055090;
}
.music header .music-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.music header .music-header-title h1 {
  letter-spacing: 1px;
  font-size: 2.25em;
  padding-left: 3.35rem;
  color: white;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.music header .music-header-title a {
  background-color: #FA2D48;
  border-radius: 100rem;
  width: 2.25rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 3.35rem;
  margin-top: 0.4rem;
  cursor: pointer;
}
.music header .music-header-title a i {
  color: white;
}
.music article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.6rem 0 2.7rem 3.45rem;
}
.music article .music-favoriteSong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.music article .music-favoriteSong h2 {
  font-size: 1.55em;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.01px;
  margin-bottom: 0.7rem;
}
.music article .music-favoriteSong > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 23rem;
}
.music article .music-favoriteSong > div img {
  width: 172px;
  border-radius: 0.6rem;
}
.music article .music-favoriteSong > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
}
.music article .music-favoriteSong > div > div > div {
  margin-top: 1.95rem;
}
.music article .music-favoriteSong > div > div > div h6 {
  font-size: 0.8em;
  letter-spacing: 0.3px;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #8D8D93;
}
.music article .music-favoriteSong > div > div > div p {
  margin-top: 0.075rem;
  font-size: 1.15em;
  letter-spacing: 0.7px;
  color: white;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
}
.music article .music-favoriteSong > div > div > div h5 {
  margin-top: 0.05rem;
  font-size: 1em;
  letter-spacing: 0.75px;
  color: #8D8D93;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
}
.music article .music-favoriteSong > div > div a {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #1C1C1C;
  width: 4.75rem;
  height: 1.8rem;
  font-size: 1em;
  border-radius: 100rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.25s, color 0.25s linear;
  transition: background-color 0.25s, color 0.25s linear;
  color: #FA2D48;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.music article .music-featuredSongs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-left: 4.4rem;
  min-width: 0;
}
.music article .music-featuredSongs h2 {
  font-size: 1.55em;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.01px;
  margin-bottom: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
}
.music article .music-featuredSongs .featuredSongs-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 19.35rem;
  grid-template-rows: repeat(3, 3.75rem);
  margin-top: 0.11rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.music article .music-featuredSongs .featuredSongs-grid::-webkit-scrollbar {
  display: none;
}
.music article .music-featuredSongs .featuredSongs-grid .song {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  scroll-snap-align: start;
}
.music article .music-featuredSongs .featuredSongs-grid .song img {
  width: 52px;
  height: 52px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.1rem;
}
.music article .music-featuredSongs .featuredSongs-grid .song .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #252527;
  margin-right: 1.35rem;
}
.music article .music-featuredSongs .featuredSongs-grid .song .meta .title {
  color: white;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.1em;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.55rem;
}
.music article .music-featuredSongs .featuredSongs-grid .song .meta .artist {
  color: #8D8D93;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.575rem;
}
.music .music-favoriteArtists {
  margin: 0 0 8.6rem 3.45rem;
  color: white;
}
.music .music-favoriteArtists h2 {
  font-size: 1.55em;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.2px;
  margin-bottom: 0.9rem;
}
.music .music-favoriteArtists .artists-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.625rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 0.2rem;
}
.music .music-favoriteArtists .artists-row::-webkit-scrollbar {
  display: none;
}
.music .music-favoriteArtists .artists-row .artist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.music .music-favoriteArtists .artists-row .artist img {
  width: 151.7px;
  height: 151.7px;
  border-radius: 100rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.music .music-favoriteArtists .artists-row .artist .artist-name {
  margin-top: 0.35rem;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.8px;
  text-align: center;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.music .music-nowPlayingBackground {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.785rem;
  backdrop-filter: blur(20px) brightness(20%);
  -webkit-backdrop-filter: blur(20px) brightness(20%);
  pointer-events: none;
  z-index: 0;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, rgb(0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 30%);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(30%, rgb(0, 0, 0)));
          mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 30%);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
}
.music .music-nowPlaying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 5.5rem);
  border-radius: 0.8rem;
  height: 4.185rem;
  background-color: rgba(37, 37, 37, 0.75);
  position: fixed;
  bottom: 0;
  margin: 0 2.75rem 1.6rem 2.75rem;
  backdrop-filter: blur(12px);
}
.music .music-nowPlaying img.notPlayingBadge {
  margin-right: 1.55rem;
  height: 26.5px;
  width: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.music .music-nowPlaying img.playingControlsBadge {
  margin-right: 1.5rem;
  height: 30px;
  width: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.music .music-nowPlaying > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.7rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
}
.music .music-nowPlaying > div img {
  width: 47.5px;
  height: 47.5px;
  border-radius: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.music .music-nowPlaying > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.55rem;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
}
.music .music-nowPlaying > div > div p {
  font-family: "SFR", -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
  letter-spacing: 0.8px;
}
.music .music-nowPlaying > div > div .music-nowPlaying-song {
  font-size: 1em;
  letter-spacing: 0.5px;
  color: white;
  font-family: "SFR", -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.music .music-nowPlaying > div > div .music-nowPlaying-artist {
  font-size: 1.05em;
  letter-spacing: 1.05px;
  color: #8D8D93;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 480px) {
  .music header h1 {
    padding-left: 1.25rem;
  }
  .music article {
    margin: 1.6rem 0 2.7rem 1.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .music article .music-favoriteSong {
    overflow: hidden;
  }
  .music article .music-favoriteSong h2 {
    font-size: 1.45em;
    letter-spacing: 0.6px;
  }
  .music article .music-favoriteSong > div img {
    width: 100px;
    height: 100px;
  }
  .music article .music-favoriteSong > div > div > div {
    margin-top: 0.25rem;
  }
  .music article .music-favoriteSong > div > div a {
    margin-bottom: 0;
  }
  .music article .music-featuredSongs {
    margin: 1.6rem 0 0 0;
  }
  .music article .music-featuredSongs h2 {
    font-size: 1.45em;
    letter-spacing: 0.6px;
  }
  .music .music-favoriteArtists {
    margin: 1.6rem 0 5.835rem 1.25rem;
  }
  .music .music-favoriteArtists h2 {
    font-size: 1.45em;
    letter-spacing: 0.6px;
  }
  .music .music-favoriteArtists .artists-row {
    gap: 0.6rem;
  }
  .music .music-favoriteArtists .artists-row .artist img {
    width: 110px;
    height: 110px;
  }
  .music .music-nowPlaying {
    width: calc(100% - 1.2rem);
    margin: 0 0.6rem 0.5rem 0.6rem;
  }
}/*# sourceMappingURL=music.css.map */