@font-face {
  font-family: "SFSB";
  src: url("/assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "SFR";
  src: url("/assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "SFL";
  src: url("/assets/fonts/SF-Pro-Display-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
.photos {
  overflow: auto;
  color: white;
}
.photos > header {
  /* Bottom border */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(3.45rem, transparent), color-stop(3.45rem, #1C1C1C));
  background-image: linear-gradient(to right, transparent 3.45rem, #1C1C1C 3.45rem);
  background-size: 100% 1px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 0.8rem 0 0.55rem 0;
  margin-bottom: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.photos > header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0088ff;
  margin: 1.655rem 0 0.9rem 1.9rem;
  cursor: pointer;
}
.photos > header div:active {
  color: #055090;
}
.photos > header div i {
  font-size: 1.55em;
}
.photos > header p {
  margin-left: 0.5rem;
  font-size: 1.25em;
  letter-spacing: 0.8px;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif;
}
.photos > header h1 {
  letter-spacing: 1.05px;
  font-size: 2.25em;
  padding-left: 3.45rem;
  color: white;
  font-family: "SFSB", -apple-system, BlinkMacSystemFont, sans-serif;
}
.photos main {
  display: grid;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  gap: 2rem;
  margin: 0.6rem 3.4rem 0 3.45rem;
}
.photos main .album {
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  text-decoration: none;
  display: grid;
  -webkit-user-drag: none;
  color: white;
  cursor: pointer;
  font-family: "SFL", -apple-system, BlinkMacSystemFont, sans-serif, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 0.4px;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease, -webkit-transform 0.2s ease;
}
.photos main .album:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  opacity: 0.85;
}
.photos main img {
  width: 15rem;
  height: 15rem;
  border-radius: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.photos main h2 {
  margin-top: 0.6rem;
  font-size: 1.05em;
}

/*Original w/h: 11.2rem for imgs*/
@media screen and (max-width: 600px) {
  .photos main {
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    gap: 3rem 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photos main .album {
    width: 10rem;
    height: 10rem;
  }
  .photos main img {
    width: 10rem;
    height: 10rem;
  }
}/*# sourceMappingURL=photos.css.map */