/* #region San Francisco Fonts */

@font-face {
    font-family: "SFSB";
    src: url('/assets/fonts/SF-Pro-Display-Semibold.otf')
}

@font-face {
    font-family: "SFR";
    src: url('/assets/fonts/SF-Pro-Display-Regular.otf')
}

@font-face {
    font-family: "SFL";
    src: url('/assets/fonts/SF-Pro-Display-Light.otf')
}

/* #endregion */

/* #region Init */

:root {
    --appleBlue: #0088ff;
}

*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
}

body {
    margin: 0;
    position: relative;
    background-color: black;
    font-family: "SFR", "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #endregion */

#bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(10px);
}

#folderName {
    font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 2.75em;
    margin: 11.5vh 0 11.5vh 0;
    letter-spacing: 1.5px;
    user-select: none;
}

a {
    text-decoration: none;
    display: flex;
    -webkit-user-drag: none;
    cursor: default;
}

img {
    -webkit-user-drag: none;
}

main {
    padding: 39px;
    width: 380px;
    border-radius: 47px;
    background: rgba(33, 36, 38, 0.9);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 24.5px 35px;
    margin: 0 2rem 0 2rem;
} main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
} main div img {
    transition: filter 0.05s linear;
    -webkit-user-drag: none;
    cursor: pointer;
    width: 75px;
} main div p{
    color: white;
    margin-top: 5px;
    letter-spacing: 0.75px;
    text-align: center;
} main div img:active {
    filter: brightness(60%)
}

/* #region Parent App Divs */

#inApp {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    width: 100%;
    min-height: 100%;
    z-index: 9998;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

.menu {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    background-color: black;
    font-family: "SFSB", "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 9998;
    transition: opacity 0.25s linear, visibility 0.25s linear;
}

.appView {
    position: absolute;
    z-index: 9999;
}

/* #region About Me */

.appStore > header {
    background-color: #121212;
    border-bottom: #272727 1px solid;
    padding: 0.8rem 0 1rem 0;
    margin-bottom: 1rem;
    user-select: none;
} .appStore > header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--appleBlue);
    margin: 1.655rem 0 1.125rem 1rem;
    cursor: pointer;
} .appStore > header div:active{
    color: #055090;
} .appStore > header div i {
    font-size: 1.55em;
} .appStore > header p {
    margin-left: 0.5rem;
    font-size: 1.25em;
    letter-spacing: 0.8px;
    font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
} .appStore > header h1 {
    letter-spacing: 1.05px;
    font-size: 2.5em;
    padding-left: 3.5rem;
} .appStore #apps {
    display: grid;
    grid-template-columns: 44.5% 44.5%;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
    justify-content: space-evenly;
}

.app {
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    &::after {
        content: "";
        background: #272727;
        position: absolute;
        width: calc(100% - 7.275rem);
        left: 7.275rem;
        height: 1px;
        bottom: 0;
    }
    &:nth-child(6)::after,
    &:nth-child(12)::after {
        height: 0;
    }
    > div {
        display: flex;
        flex-direction: row;
    }
    img {
        width: 70px;
        height: 70px;
        margin: 0.7rem 0 0.5rem 0;
        border-radius: 1rem;
        user-select: none;
    }
    > div > div {
        margin-right: 1.05rem;
        display: flex;
        margin-left: 0.75rem;
        flex-direction: column;
        justify-content: center;
    }
    > div > div > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .rank {
        min-width: auto;
        margin-right: 1.05rem;
        font-size: 1.25em;
        user-select: none;
    }
    .name {
        font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
        font-size: 1.25em;
        letter-spacing: 0.7px;
    }
    .descMargin {
        min-width: auto;
        margin-right: 1.05rem;
        font-size: 1.25em;
        visibility: hidden;
    }
    .desc {
        font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
        margin-top: 0.25rem;
        letter-spacing: 0.65px;
        color: #8E8D92;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .appStore-viewButton {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 1.8rem 0 1.85rem 0;
        font-size: 1.2em;
        font-weight: 500;
        letter-spacing: 0.5px;
        background-color: #1C1C1E;
        color: var(--appleBlue);
        width: 5.45rem;
        border-radius: 100rem;
        transition: background-color 0.25s, color 0.25s linear;
        cursor: pointer;
        user-select: none;
        &:active {
            background-color: #111113;
            color: #055090;
        }
    }
}

.appView {
    .backButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--appleBlue);
        margin: 2.5rem 0 1rem 1rem;
        cursor: pointer;
    
        i {
            font-size: 1.55em;
        } p {
            margin-left: 0.5rem;
            font-size: 1.25em;
            letter-spacing: 0.8px;
            font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
        }
    } .backButton:active{
        color: #055090;
    }

    header {
        margin: 0 3.5rem 2.5rem 3.5rem;
        display: flex;
        flex-direction: row;
        position: relative;

        img {
            width: 150px;
            border-radius: 2rem;
            background-color: white;
        }

        > div {
            display: flex;
            flex-direction: column;
            margin-left: 2rem;

            h1 {
                font-size: 1.76em;
                letter-spacing: 1.25px;
                margin-top: 0.325rem;
                margin-bottom: 0.5rem;
            }

            h2 {
                font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
                font-size: 1.25em;
                letter-spacing: 1.35px;
                margin-bottom: 2.9rem;
                color: #8E8D92;
            }

            .appStore-openButton {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: var(--appleBlue);
                width: 5.3rem;
                height: 2.1rem;
                font-size: 1.2em;
                border-radius: 100rem;
                cursor: pointer; /* added */
                user-select: none; /* added */
                transition: background-color 0.25s, color 0.25s linear; /* added */
            }

            .appStore-openButton:active {
                background-color: #111113;
                color: #055090;
            }

            /* Add disabled state for the open button */
            .appStore-openButton.disabled {
                opacity: 0.5;
                pointer-events: none;
                background-color: gray;
            }
        }

        &::after {
            content: "";
            background: #272727;
            position: absolute;
            width: 100%;
            height: 0.6px;
            bottom: -2.5rem;
        }
    }

    .appStore-appView-about{
        padding-top: 1.35rem;
        position: relative;
        
        p {
            margin: 0 3.5rem 0 3.5rem;
            font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
            letter-spacing: 0.95px;
            line-height: 20.9px;
            position: relative;
        }

        &::after {
            content: "";
            background: #272727;
            position: absolute;
            width: calc(100% - 7rem);
            left: 3.5rem;
            height: 0.6px;
            bottom: -1.35rem;
        }
    }
}

/* #endregion */
/* #region Projects */

.projects header {
    background-color: #121212;
    border-bottom: #272727 1px solid;
    padding: 0.8rem 0 1rem 0;
    margin-bottom: 1rem;
    user-select: none;
} .projects header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--appleBlue);
    margin: 1.5rem 0 1.125rem 1.2rem;
    cursor: pointer;
} .projects header div:active{
    color: #055090;
} .projects header div i {
    font-size: 1.55em;
} .projects header p {
    margin-left: 0.5rem;
    font-size: 1.25em;
    letter-spacing: 0.8px;
    font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
} .projects header h1 {
    letter-spacing: 1.05px;
    font-size: 2.5em;
    padding-left: 2rem;
}

/* #endregion */
/* #region Contact */

.contacts {
    display: flex;
    flex-direction: row;
} 

.contacts #contactCard {
    background-image: linear-gradient(to bottom, #101316, #0D1014);
    height: 100%;
    width: 53.4rem;
    display: flex;
    flex-direction: column;
    user-select: none;
    justify-content: center;
} .contacts #contactCard i {
    position: absolute;
    display: flex;
    background-color: #34383B;
    border-radius: 100rem;
    width: 2.75rem;
    height: 2.75rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    margin: 2rem 0 0 1.1rem;
    cursor: pointer;
    top: 0;
} .contacts #contactCard > div {
    display: flex;
    flex-direction: column;
    align-items: center;
} .contacts #contactCard img {
    width: 362px;
    border-radius: 100rem;
} .contacts #contactCard p{
    margin-top: 2.225rem;
    font-size: 1.1em;
    letter-spacing: 1.25px;
} .contacts #contactCard h1 {
    font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 3.25em;
    margin-top: 0.1rem;
    letter-spacing: 2.4px;
} 

.contacts #contactInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    overflow: auto;
} .contacts .infoBox {
    font-family: "SFL", "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1C1C1E;
    width: 97.5%;
    height: 5.45rem;
    border-radius: 0.65rem;
    padding-left: 1.425rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
} .contacts .infoBox:active{
    background-color: #3A3A3C;
} .contacts .infoBox h2 {
    font-size: 1.25em;
    letter-spacing: 1px;
    color: white;
    user-select: none;
} .contacts .infoBox p {
    font-size: 1.5em;
    color: var(--appleBlue);
    margin-top: 0.35rem;
    letter-spacing: 0.45px;
} .contacts #infoCluster {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.65rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
} .contacts #infoCluster .infoBox {
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
    position: relative;
} .contacts #infoCluster .infoBox::after{
    content: "";
    background: #3A3A3A;
    position: absolute;
    width: calc(100% - 1.425rem);
    left: 1.425rem;
    height: 1px;
    bottom: 0;
} .contacts #infoCluster .infoBox:last-child::after{
    height: 0;
}

/* #endregion */
/* #region Music */

/* #endregion */
/* #region Mobile Optimization */

@media screen and (max-width: 900px){ /* Tablets */
    .appStore #apps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app {
        width: 92.5%
    } .app:nth-child(6)::after {
        height: 1px;
    }

    .contacts {
        flex-direction: column;
        height: 100%;
    } 
    
    .contacts #contactCard {
        width: 100%;
        min-height: 27.5rem;
        overflow:visible;
    } .contacts #contactCard i {
        width: 2rem;
        height: 2rem;
        font-size: 1.1em;
        margin: 2rem 0 0 0.8rem;
    } .contacts #contactCard img {
        width: 265px;
    } .contacts #contactCard p{
        margin-top: 1.6rem;
        font-size: 0.8em;
        letter-spacing: 0.9px;
    } .contacts #contactCard h1 {
        font-size: 2.35em;
        letter-spacing: 1.85px;
    } 
    
    .contacts #contactInfo {
        overflow:visible;
    } .contacts .infoBox {
        width: 96%;
        height: 4rem;
        border-radius: 0.5rem;
        padding-left: 1.05rem;
        margin-bottom: 1rem;
    } .contacts .infoBox h2 {
        font-size: 0.9em;
        letter-spacing: 0.8px;
        color: white;
    } .contacts .infoBox p {
        font-size: 1em;
        color: var(--appleBlue);
        margin-top: 0.35rem;
        letter-spacing: 1.05px;
    } .contacts #infoCluster {
        width: 96%;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    } .contacts #infoCluster .infoBox::after{
        content: "";
        background: #3A3A3A;
        position: absolute;
        width: calc(100% - 1.05rem);
        left: 1.05rem;
        height: 1px;
        bottom: 0;
    }
}

@media screen and (max-width: 480px){ /* Phones */
    main {
        padding: 30px;
        width: 300px;
        border-radius: 40px;
        grid-gap: 17px 29px;
    } main div img {
        width: 60px;
    } main div p{
        margin-top: 5px;
        font-size: 0.8em;
        letter-spacing: 0.65px;
    }

    .app {
        width: 87.5%
    } 

    #bruh {
        width:60px !important;
        height:80px !important;
    }
}

/* #endregion */