@import 'variables';

.music {
  overflow: scroll;

  header {
    user-select: none;

    h1 {
      letter-spacing: 1px;
      font-size: 2.25em;
      padding-left: 3.35rem;
      color: white;
      font-family: $SFSB;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $musicRed;
      margin: 2.25rem 0 1rem 1.9rem;
      cursor: pointer;

      i {
        font-size: 1.55em;
      }

      &:active {
        color: #055090;
      }
    }
  }

  article {
    display: flex;
    margin: 1.6rem 0 2.7rem 3.45rem;

    .music-favoriteSong {
      display: flex;
      color: white;
      flex-direction: column;

      h2 {
        font-size: 1.55em;
        font-family: $SFSB;
        letter-spacing: 0.01px;
        margin-bottom: 0.7rem;
      }

      >div {
        display: flex;
        flex-direction: row;

        img {
          width: 172px;
          border-radius: 0.6rem;
        }

        >div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 1rem;

          >div {
            margin-top: 1.95rem;

            h6 {
              font-size: 0.8em;
              letter-spacing: 0.3px;
              font-family: $SFSB;
              color: $appleGray;
            }

            p {
              margin-top: 0.075rem;
              font-size: 1.15em;
              letter-spacing: 0.7px;
              color: white;
              font-family: $SFL;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            h5 {
              margin-top: 0.05rem;
              font-size: 1em;
              letter-spacing: 0.75px;
              color: $appleGray;
              font-family: $SFL;
            }
          }

          a {
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $appleDarkGrayAlt;
            width: 4.75rem;
            height: 1.8rem;
            font-size: 1em;
            border-radius: 100rem;
            cursor: pointer;
            user-select: none;
            transition: background-color 0.25s, color 0.25s linear;
            color: $musicRed;
            font-family: $SFSB;

            &:hover {}
          }
        }
      }
    }

    .music-featuredSongs {
      display: flex;
      flex-direction: column;
      color: white;
      margin-left: 4.4rem;
      min-width: 0;

      h2 {
        font-size: 1.55em;
        font-family: $SFSB;
        letter-spacing: 0.01px;
        margin-bottom: 0.7rem;
        white-space: nowrap;
        overflow: hidden;
      }

      .featuredSongs-grid {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 19.35rem;
        grid-template-rows: repeat(3, 3.75rem);
        margin-top: 0.11rem;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        .song {
          display: flex;
          align-items: center;
          cursor: pointer;
          scroll-snap-align: start;

          img {
            width: 52px;
            height: 52px;
            border-radius: 0.5rem;
            object-fit: cover;
            margin-right: 1.1rem;
          }

          .meta {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            border-top: 1px solid $appleDarkGray;
            margin-right: 1.35rem;

            .title {
              color: white;
              font-family: $SFL;
              font-size: 1.1em;
              letter-spacing: 1px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-top: 0.55rem;
            }

            .artist {
              color: $appleGray;
              font-family: $SFL;
              font-size: 0.9em;
              letter-spacing: 0.6px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 0.575rem;
            }
          }
        }
      }
    }
  }

  .music-favoriteArtists {
    margin: 0 0 8.6rem 3.45rem;
    color: white;

    h2 {
      font-size: 1.55em;
      font-family: $SFSB;
      letter-spacing: 0.2px;
      margin-bottom: 0.9rem;
    }

    .artists-row {
      display: flex;
      flex-direction: row;
      gap: 1.625rem;
      flex-wrap: nowrap;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      padding-bottom: 0.2rem;

      .artist {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        img {
          width: 151.7px;
          height: 151.7px;
          border-radius: 100rem;
          object-fit: cover;
        }

        .artist-name {
          margin-top: 0.35rem;
          font-family: $SFL;
          font-size: 1rem;
          letter-spacing: 0.8px;
          text-align: center;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }

  .music-nowPlayingBackground {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.785rem;
    backdrop-filter: blur(20px) brightness(20%);
    -webkit-backdrop-filter: blur(20px) brightness(20%);
    pointer-events: none;
    z-index: 0;

    mask-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 30%);

    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }


  .music-nowPlaying {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2.75*2rem);
    border-radius: 0.8rem;
    height: 4.185rem;
    background-color: rgba(37, 37, 39, 0.75);
    position: fixed;
    bottom: 0;
    margin: 0 2.75rem 1.6rem 2.75rem;
    backdrop-filter: blur(12px);

    img.notPlayingBadge {
      margin-right: 1.55rem;
      height: 26.5px;
      width: auto;
      align-self: center;
      flex: 0 0 auto; // don't shrink the badge
    }

    img.playingControlsBadge {
      margin-right: 1.5rem;
      height: 30px;
      width: auto;
      align-self: center;
      flex: 0 0 auto; // don't shrink the badge
    }

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0.7rem;
      flex: 1 1 auto;
      min-width: 0;

      img {
        width: 47.5px;
        height: 47.5px;
        border-radius: 0.5rem;
        object-fit: cover;
      }

      >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.55rem;
        height: 100%;
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;

        p {
          font-family: $SFR;
          color: white;
          letter-spacing: 0.8px;
        }

        .music-nowPlaying-song {
          font-size: 1em;
          letter-spacing: 0.5px;
          color: white;
          font-family: $SFR;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .music-nowPlaying-artist {
          font-size: 1.05em;
          letter-spacing: 1.05px;
          color: $appleGray;
          font-family: $SFL;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .music {

    header {
      h1 {
        padding-left: 1.25rem;
      }
    }

    article {
      margin: 1.6rem 0 2.7rem 1.25rem;
      flex-direction: column;

      .music-favoriteSong {
        h2 {
          font-size: 1.45em;
          letter-spacing: 0.6px;
        }

        >div {
          img {
            width: 100px;
            height: 100px;
          }

          >div {
            >div {
              margin-top: 0.25rem;
            }

            a {
              margin-bottom: 0;
            }
          }
        }
      }

      .music-featuredSongs {
        margin: 1.6rem 0 0 0;

        h2 {
          font-size: 1.45em;
          letter-spacing: 0.6px;
        }
      }
    }

    .music-favoriteArtists {
      margin: 1.6rem 0 5.835rem 1.25rem;

      h2 {
        font-size: 1.45em;
        letter-spacing: 0.6px;
      }

      .artists-row{
        gap: 0.6rem;
        .artist {
          img {
            width: 110px;
            height: 110px;
          }
        }
      }
    }

    .music-nowPlaying {
      width: calc(100% - 0.6*2rem);
      margin: 0 0.6rem 0.5rem 0.6rem;
    }

  }
}