@import 'variables';

#dynamicIsland {
  position: absolute;
  top: 0.7rem;
  background-color: black;
  height: 40px;
  width: 130px;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;

  #island-closed {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .island-albumArt.closed {
      height: 22.5px;
      margin-left: 0.625rem;
      border-radius: 0.3rem;
      -webkit-user-drag: none;
    }

    .island-audioPreview {
      margin-right: 0.75rem;
      align-items: center;
      gap: 1.6px;
    }
  }

  #island-open {
    display: none;
    position: absolute;
    width: 100%;

    #timeline {
      width: 0%;
      transition: width 0.4s;

      span {
        font-size: 0;
        transition: font-size 0.4s;
      }
    }

    #songInfo {
      display: flex;
      flex-direction: column;
      color: white;
      letter-spacing: 0.5px;
      font-family: $SFR;
      font-size: 0;
    }
  }

  .island-audioPreview {
    .bar {
      width: 2px;
      height: 2px;
      background-color: #ffffff;
      border-radius: 100rem;
      animation: wave 0.75s infinite ease-in-out;

      &:nth-child(1) { animation-delay: 0.4s; }
      &:nth-child(2) { animation-delay: 0.2s; }
      &:nth-child(3) { animation-delay: -0.4s; }
      &:nth-child(4) { animation-delay: 0.2s; }
      &:nth-child(5) { animation-delay: 0.6s; }
      &:nth-child(6) { animation-delay: -0.6s; }
    }
  }

  &.playing {
    width: 190px;
    animation: dynamicIslandCollapse 0.75s ease-in-out forwards;

    #island-closed {
      animation: showIslandClosed 0.6s forwards;
    }

    #island-open {
      animation: hideIslandOpen 0.6s forwards;
    }

    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      animation: dynamicIslandExpand 0.75s ease-in-out forwards;

      #island-closed {
        align-items: center;
        height: 100%;
        animation: hideIslandClosed 0.6s forwards;
      }

      #island-open {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.4rem;
        filter: blur(20px);
        animation: showIslandOpen 0.6s forwards;
        
        #island-main {
          display: flex;
          justify-content: space-between;
          width: 100%;

          #island-main-left {
            display: flex;
            align-items: center;
            min-width: 0; // allow text to shrink for ellipsis

            .island-albumArt.open {
              height: 67.5px;
              margin-left: 0;
              border-radius: 0.8rem;
              -webkit-user-drag: none;
            }

            #songInfo {
              margin-left: 1.175rem;
              font-size: 1.05em;
              min-width: 0; // allow song info to shrink
              overflow: hidden; // required for ellipsis on children

              #songName {
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
              }

              #artistName {
                color: $appleGray;
                font-family: $SFL;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
              }
            }
          }

          .island-audioPreview.open {
            display: flex;
            align-items: center;
            margin-right: 0.45rem;
            margin-bottom: 0.9rem;
            gap: 2.7px;
          }
        }

        #timeline {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: 1.175rem;

          span {
            color: $appleGray;
            font-family: $SFL;
            font-size: 0.75em;
            letter-spacing: 1px;
            width: 30px;
            text-align: center;
          }

          .progress-bar {
            width: 250px;
            height: 7px;
            background-color: $appleDarkGray;
            border-radius: 100rem;
            overflow: hidden;
            margin-right: 0.425rem;

            .progress {
              height: 100%;
              background-color: $appleGray;
              width: 0;
              transition: width 0.1s linear;
            }
          }
        }

        #mediaControls {
          width: 19rem;
          margin-top: 1.1rem;
        }
      }
    }
  }
}

@keyframes wave {
  0% {
    height: 2px;
  }

  50% {
    height: 22px;
  }

  100% {
    height: 2px;
  }
}

@keyframes dynamicIslandExpand {
  0% {
    width: 190px;
    height: 40px;
    border-radius: 100rem;
  }

  27% {
    transform: scale(1.05);
    width: 190px;
    height: 40px;
    border-radius: 2.75rem;
  }

  67% {
    transform: scale(1.025);
    width: 372.5px;
    height: 202.5px;
    border-radius: 2.75rem;
  }

  100% {
    transform: scale(1);
    width: 372.5px;
    height: 202.5px;
    border-radius: 2.75rem;
  }
}

@keyframes dynamicIslandCollapse {
  0% {
    transform: scale(1);
    width: 372.5px;
    height: 202.5px;
    border-radius: 2.75rem;
  }

  43% {
    width: 130px;
    height: 40px;
    border-radius: 2.75rem;
  }

  100% {
    transform: scale(1);
    width: 190px;
    height: 40px;
    border-radius: 100rem;
  }
}

@keyframes hideIslandClosed {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    filter: blur(0px);
  }

  100% {
    opacity: 0;
    filter: blur(20px);
  }
}

@keyframes showIslandClosed {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes showIslandOpen {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes hideIslandOpen {
  0% {
    opacity: 1;
    filter: blur(0px);
  }

  50% {
    opacity: 1;
    filter: blur(20px);
  }

  100% {
    opacity: 0;
  }
}

.music {
  overflow: auto;

  img {
    user-select: none;
  }

  header {
    user-select: none;

    .music-backButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $musicRed;
      margin: 2.25rem 0 1rem 1.9rem;
      cursor: pointer;

      i {
        font-size: 1.55em;
      }

      &:active {
        color: #055090;
      }
    }

    .music-header-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        letter-spacing: 1px;
        font-size: 2.25em;
        padding-left: 3.35rem;
        color: white;
        font-family: $SFSB;
      }

      a {
        background-color: $musicRed;
        border-radius: 100rem;
        width: 2.25rem;
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3.35rem;
        margin-top: 0.4rem;
        cursor: pointer;

        i {
          color: white;
        }
      }
    }
  }

  article {
    display: flex;
    margin: 1.6rem 0 2.7rem 3.45rem;

    .music-favoriteSong {
      display: flex;
      color: white;
      flex-direction: column;

      h2 {
        font-size: 1.55em;
        font-family: $SFSB;
        letter-spacing: 0.01px;
        margin-bottom: 0.7rem;
      }

      >div {
        display: flex;
        flex-direction: row;
        min-width: 23rem;

        img {
          width: 172px;
          border-radius: 0.6rem;
        }

        >div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 1rem;


          >div {
            margin-top: 1.95rem;

            h6 {
              font-size: 0.8em;
              letter-spacing: 0.3px;
              font-family: $SFSB;
              color: $appleGray;
            }

            p {
              margin-top: 0.075rem;
              font-size: 1.15em;
              letter-spacing: 0.7px;
              color: white;
              font-family: $SFL;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              max-width: 100%;
            }

            h5 {
              margin-top: 0.05rem;
              font-size: 1em;
              letter-spacing: 0.75px;
              color: $appleGray;
              font-family: $SFL;
            }
          }

          a {
            margin-bottom: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $appleDarkGrayAlt;
            width: 4.75rem;
            height: 1.8rem;
            font-size: 1em;
            border-radius: 100rem;
            cursor: pointer;
            user-select: none;
            transition: background-color 0.25s, color 0.25s linear;
            color: $musicRed;
            font-family: $SFSB;

            // &:hover {}
          }
        }
      }
    }

    .music-featuredSongs {
      display: flex;
      flex-direction: column;
      color: white;
      margin-left: 4.4rem;
      min-width: 0;

      h2 {
        font-size: 1.55em;
        font-family: $SFSB;
        letter-spacing: 0.01px;
        margin-bottom: 0.7rem;
        white-space: nowrap;
        overflow: hidden;
      }

      .featuredSongs-grid {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 19.35rem;
        grid-template-rows: repeat(3, 3.75rem);
        margin-top: 0.11rem;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }

        .song {
          display: flex;
          align-items: center;
          cursor: pointer;
          scroll-snap-align: start;

          img {
            width: 52px;
            height: 52px;
            border-radius: 0.5rem;
            object-fit: cover;
            margin-right: 1.1rem;
          }

          .meta {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            border-top: 1px solid $appleDarkGray;
            margin-right: 1.35rem;

            .title {
              color: white;
              font-family: $SFL;
              font-size: 1.1em;
              letter-spacing: 1px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-top: 0.55rem;
            }

            .artist {
              color: $appleGray;
              font-family: $SFL;
              font-size: 0.9em;
              letter-spacing: 0.6px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-bottom: 0.575rem;
            }
          }
        }
      }
    }
  }

  .music-favoriteArtists {
    margin: 0 0 8.6rem 3.45rem;
    color: white;

    h2 {
      font-size: 1.55em;
      font-family: $SFSB;
      letter-spacing: 0.2px;
      margin-bottom: 0.9rem;
    }

    .artists-row {
      display: flex;
      flex-direction: row;
      gap: 1.625rem;
      flex-wrap: nowrap;
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      padding-bottom: 0.2rem;

      .artist {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        img {
          width: 151.7px;
          height: 151.7px;
          border-radius: 100rem;
          object-fit: cover;
        }

        .artist-name {
          margin-top: 0.35rem;
          font-family: $SFL;
          font-size: 1rem;
          letter-spacing: 0.8px;
          text-align: center;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
        }
      }
    }
  }

  .music-nowPlayingBackground {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5.785rem;
    backdrop-filter: blur(20px) brightness(20%);
    -webkit-backdrop-filter: blur(20px) brightness(20%);
    pointer-events: none;
    z-index: 0;

    mask-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 30%);

    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }


  .music-nowPlaying {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2.75*2rem);
    border-radius: 0.8rem;
    height: 4.185rem;
    background-color: rgba(37, 37, 37, 0.75);
    position: fixed;
    bottom: 0;
    margin: 0 2.75rem 1.6rem 2.75rem;
    backdrop-filter: blur(12px);

    img.notPlayingBadge {
      margin-right: 1.55rem;
      height: 26.5px;
      width: auto;
      align-self: center;
      flex: 0 0 auto; // don't shrink the badge
    }

    img.playingControlsBadge {
      margin-right: 1.5rem;
      height: 30px;
      width: auto;
      align-self: center;
      flex: 0 0 auto; // don't shrink the badge
    }

    >div {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 0.7rem;
      flex: 1 1 auto;
      min-width: 0;

      img {
        width: 47.5px;
        height: 47.5px;
        border-radius: 0.5rem;
        object-fit: cover;
      }

      >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.55rem;
        height: 100%;
        flex: 1 1 auto;
        min-width: 0;
        overflow: hidden;

        p {
          font-family: $SFR;
          color: white;
          letter-spacing: 0.8px;
        }

        .music-nowPlaying-song {
          font-size: 1em;
          letter-spacing: 0.5px;
          color: white;
          font-family: $SFR;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .music-nowPlaying-artist {
          font-size: 1.05em;
          letter-spacing: 1.05px;
          color: $appleGray;
          font-family: $SFL;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .music {

    header {
      h1 {
        padding-left: 1.25rem;
      }
    }

    article {
      margin: 1.6rem 0 2.7rem 1.25rem;
      flex-direction: column;

      .music-favoriteSong {
        overflow: hidden;

        h2 {
          font-size: 1.45em;
          letter-spacing: 0.6px;
        }

        >div {
          img {
            width: 100px;
            height: 100px;
          }

          >div {
            >div {
              margin-top: 0.25rem;
            }

            a {
              margin-bottom: 0;
            }
          }
        }
      }

      .music-featuredSongs {
        margin: 1.6rem 0 0 0;

        h2 {
          font-size: 1.45em;
          letter-spacing: 0.6px;
        }
      }
    }

    .music-favoriteArtists {
      margin: 1.6rem 0 5.835rem 1.25rem;

      h2 {
        font-size: 1.45em;
        letter-spacing: 0.6px;
      }

      .artists-row {
        gap: 0.6rem;

        .artist {
          img {
            width: 110px;
            height: 110px;
          }
        }
      }
    }

    .music-nowPlaying {
      width: calc(100% - 0.6*2rem);
      margin: 0 0.6rem 0.5rem 0.6rem;
    }

  }
}