@import 'variables';

.projects {
    color: white;

    header {
        background-color: #121212;
        border-bottom: #272727 1px solid;
        padding: 0.8rem 0 1rem 0;
        user-select: none;

        h1 {
            letter-spacing: 1.05px;
            font-size: 2.5em;
            padding-left: 2rem;
            font-family: $SFSB;
        }

        p {
            margin-left: 0.5rem;
            font-size: 1.25em;
            letter-spacing: 0.8px;
            font-family: $SFL;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $appleBlue;
            margin: 1.5rem 0 1.125rem 1.2rem;
            cursor: pointer;

            i {
                font-size: 1.55em;
            }

            &:active {
                color: #055090;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0.6rem 1rem 0 1.6rem;

        .project {
            display: flex;
            position: relative;
            padding-top: 0.55rem;
            padding-bottom: 0.55rem;
            cursor: pointer;

            >div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0.85rem;
            }

            img {
                margin-left: 0.6rem;
                width: 50px;
                height: 50px;
                border-radius: 0.3rem;
            }

            .project-name {
                font-family: "SFL";
                font-size: 1.15em;
                letter-spacing: 0.9px;
            }

            .project-desc {
                font-family: "SFL";
                font-size: 0.9em;
                margin-top: 0.1rem;
                letter-spacing: 0.9px;
                color: #8E8D92;
            }

            &::after {
                content: "";
                background: #272727;
                position: absolute;
                width: calc(100% - 4rem);
                left: 4rem;
                height: 1px;
                bottom: 0;
            }

            &:active {
                background-color: #3A3A3C;
                border-radius: 1rem;
            }
        }
    }
}