@import 'variables';

.projects {
    overflow: auto;
    color: white;

    header {
        background-color: #121212;
        border-bottom: #272727 1px solid;
        padding: 0.8rem 0 1rem 0;
        user-select: none;

        h1 {
            letter-spacing: 1.05px;
            font-size: 2.5em;
            padding-left: 2rem;
            font-family: $SFSB;
        }

        p {
            margin-left: 0.5rem;
            font-size: 1.25em;
            letter-spacing: 0.8px;
            font-family: $SFL;
        }

        div {
            width: 7.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $appleBlue;
            margin: 1.5rem 0 1.125rem 1.2rem;
            cursor: pointer;

            i {
                font-size: 1.55em;
            }

            &:active {
                color: #055090;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        margin: 0.6rem 1rem 3.5rem 1.6rem;

        .project {
            display: flex;
            position: relative;
            padding-top: 0.55rem;
            padding-bottom: 0.55rem;
            cursor: pointer;

            >div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0.85rem;
            }

            img {
                margin-left: 0.6rem;
                width: 50px;
                height: 50px;
                border-radius: 0.3rem;
            }

            .project-name {
                font-family: "SFL";
                font-size: 1.15em;
                letter-spacing: 0.9px;
            }

            .project-desc {
                font-family: "SFL";
                font-size: 0.9em;
                margin-top: 0.1rem;
                letter-spacing: 0.9px;
                color: #8E8D92;
            }

            &::after {
                content: "";
                background: #272727;
                position: absolute;
                width: calc(100% - 4rem);
                left: 4rem;
                height: 1px;
                bottom: 0;
            }

            &:active {
                background-color: #3A3A3C;
                border-radius: 1rem;
            }
        }
    }

    footer {
        height: 3.5rem;
        width: 100%;
        background-color: rgb(37, 37, 37, 0.75);
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(12px);

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 3rem 0 3rem;
            cursor: pointer;

            i {
            font-size: 1.55em;
            }

            p {
                font-family: $SFR;
                font-size: 0.7em;
                text-align: center;
                margin-top: 0.25rem;
                letter-spacing: 0.5px;
            }

            &.active {
                color: $appleBlue;
            }   
        }

        // Highlight the active tab (Featured/Archived)
    }
}

@media screen and (max-width: 500px) {
    .projects {
        main {
            margin: 0.6rem 1rem 3.5rem 1rem;
        }

        footer {
            div {
                margin: 0 1.5rem 0 1.5rem;
                width: 20%;

                p{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}