.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    padding-left: 0;
}

article .box{
    background-color:
    hsl(240, 25%, 5%);
    border-radius: 2rem;
    height: 5rem;
    color: white;
    display: flex;
    margin: 1rem auto 1rem auto;
    align-items: center;
} .box a{
    text-decoration: none !important;
    font-size: 1.25em !important;
} .box p{
    padding: 1rem;
    margin: 0;
    font-size: 1.5em;
}

h2{
    font-size: 1.5em;
}