.projects{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
} article .projects.discontinued .box{
    height: 30vh;
}

article{
    padding-left: 0;
}

#seperator{
    font-size: 2.5em;
    padding-left: 0;
}

article .box{
    border: 3px solid rgb(125, 125, 125);
    background-color: rgb(25, 25, 25);
    border-radius: 2rem;
    color: white;
    display: flex;
    width: 30%;
    height: 27rem;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s;
} .box a{
    width: 100%;
    display: block;
    height: 100%;
    text-decoration: none;
    color: white;
    margin: 0;
} .box p{
    font-size: 1.1em;
} .box img{
    border-radius: 10rem;
    border: transparent;
    margin-right: 0;
} .box h2 {
    padding: 0.8rem;
} .box a:hover{
    text-shadow: none;
} .box:hover{
    background-color: rgb(40, 40, 40);
}

@media screen and (max-width: 500px){
    .projects{
        display: flex;
    }

    article .box{
        display: flex;
        flex-direction: column;
    } .box p{
        text-decoration: none;
        font-size: 1.3em;
        padding-top: 0;
    } .box a{
        font-size: 1em;
    } .box a h2{
        padding: 1rem;
        margin-bottom: 0;
    } .box img{
        width: 200px;
    }
}