.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    padding-left: 0;
}

#seperator{
    font-size: 2.5em;
    padding-left: 0;
    padding-right: 0;
}

article .box{
    border: 3px solid rgb(125, 125, 125);
    background-color: rgb(25, 25, 25);
    border-radius: 2rem;
    color: white;
    display: flex;
    margin: 1rem auto 1rem auto;
    align-items: center;
    max-width: 80%;
} .box a{
    text-decoration: none;
    font-size: 1.25em;
} .box p{
    padding: 1rem;
    margin: 0;
    font-size: 1.5em;
} .box img{
    border-radius: 10rem;
    border: transparent;
    margin-right: 0;
}